azul4 = #339BE6
azul6 = #3D8AD4
azul5 = #2E92DA
azul2 = #57AEF1
azul3 = #76B4ED
azul1 = #81C1EF
verde1 = #96D986
azul7 = #4D7198
verde2 = #576E56
crema = #CBAC8A
blanco = #FFFFFF
negro = #000000

a
a:active
a:hover
	text-decoration none
header.contenedor
	background azul4

.logo
	color blanco
.busqueda
	padding-top 8px
.menu
	padding-top 8px
	ul li
		display inline-block

.categorias
	padding-right 15px
	ul li
		margin 1px 0
		padding 2px 15px
		background crema
		width 100%
	span
		float right
.slide
	background crema
	overflow hidden
	height 250px